body{
  font-family: sans-serif;
  min-height: 100vh;
  background: rgb(30,45,249);
background: linear-gradient(121deg, rgba(30,45,249,1) 0%, rgba(117,39,233,1) 16%, rgba(255,21,179,1) 100%);



display: flex;

flex-direction: column;

/* Hor */
justify-content: flex-start;
/* Ver  */
align-items: flex-end;


}

article{
  display: inline-block;
  background-color: rgb(109, 35, 221);
  padding: 30px 40px 36px 40px;
  border-radius: 30px;
  box-shadow: 1;
  box-shadow: 8px 8px 8px -4px rgba(162,16,186,0.93);
}

#foto{
  width: 90px;
  height: 90px;
  object-fit: cover;
  border: solid white 4px;
  border-radius: 50%;
}
#perfil{
  text-transform: uppercase;
  color: white;
  font-weight: 100;
  font-size: 18px;
}
h1{
  color: white;
  font-size: 40px;
  margin: 15px 0;
}

p{
  color: white;
}

a{
  text-decoration: none;
}

.redes i{
  display: inline-block;
  font-size: 27px;
  background-color: white;
  padding: 6px;
  border-radius: 50%;
  margin-right: 10px;
}